.confirm-modal {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba($body-bg, 0.8);
    z-index: 2;
    border-bottom: 0;
    display: grid;
    place-content: center stretch;


    & &__content {
        background-color: $body-bg;
        border-radius: $border-radius;
        border: 1px solid rgba($body-color, 0.1);
        width: 100%;
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        font-size: 1.25rem;
    }

    & &__buttons {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    & .btn {
        padding: 0.5rem 1.5rem;
    }
}