.posts {
    & &__header {
        text-align: left;
        margin-bottom: 0;
        padding: 1rem 0;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $primary;
    }

    & &__content {
        margin-bottom: 65px;
    }

    & &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    & &__no-posts {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
            font-size: 2rem;
        }
    }
}

.post {
    margin-bottom: 60px;

    & &__content {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: rgb(35, 35, 35);
    }

    & &__image {
        position: relative;
    }

    & &__main-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 3/2;
    }

    & &__user {
        position: absolute;
        overflow: hidden;
        top: 10px;
        left: 10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    & &__user-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $primary;
    }

    & &__bottom {}

    & &__description {
        padding: 0.5rem 1rem;

        & p {
            margin-bottom: 0;
        }
    }

    & &__author {
        font-weight: 700;
    }

    & &__buttons {}

    & &__buttons-content {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-top: 1px solid rgba($body-color, 0.1);
    }

    & &__button {
        background: none;
        border: 0;
        outline: 0;
        color: $body-color;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    & &__liked {
        color: $tertiary;
    }

    & &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & &__delete {
        color: $tertiary;
        font-size: 1.125rem;
    }

    & &__header-text {
        text-align: left;
        margin-bottom: 0;
        padding: 1rem 0;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $primary;
    }
}

.comments {
    padding: 0 1.5rem 1rem;

    & &__add {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    & &__input {
        flex: 1;
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        padding: 0.25rem;
    }

    & &__submit-btn {
        font-size: 1.125rem;
    }

    & &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    & &__comment {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    & &__profile-photo {
        flex: 0 0 30px;
        margin-top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & &__details {
        flex: 1;
    }

    & &__options {
        color: $primary;
        font-size: 1.5rem;
        position: relative;
    }

    & &__option-list {
        z-index: 1;
        position: absolute;
        right: 0;
        background-color: $body-bg;
    }

    & &__option {
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-top: 1px solid rgba($body-color, 0.1);
    }

    & &__option-delete {
        color: $tertiary;
    }

    & &__option-edit {
        color: $secondary;
    }

    & &__username {
        font-weight: bold;
    }

    & &__text {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        word-break: break-all;
    }

    & &__text-edit {
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        padding: 0;
        flex: 1;

    }

    & &__text-edit-icon {
        font-size: 1.25rem;
        color: $primary;
    }

    & &__date {
        font-size: 0.75rem;
        opacity: 0.3;
        white-space: wrap;
    }

}