.text-edit {
    margin: 1rem 0;
    word-break: break-all;
    display: flex;
    align-items: center;
    gap: 1rem;

    & &__input {
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        padding: 0;
        flex: 1;
    }

    & &__icon {
        font-size: 1.25rem;
        color: $primary;
    }
}